# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1.Golang\algorithm-golang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
